body {
    margin: 10px 0 0 10px;
}

#root {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1 {
    margin: 0 0 20px 0;
    text-align: center;
}

#addForm{
    width: 40%;
    margin-left: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

table {
    text-align: center;
    margin: 0 0 20px 0;
}

#addInterv, #removeInterv{
    height: 8%;
    width: 40%;
    margin-bottom: 30px;
    align-self: center;
}

td {
    padding: 0 15px;
}

#submit{
    width: 20%;
    align-self: center;
}

#form {
    display: flex;
    flex-direction: column;
}

#form div {
    margin-bottom: 20px;
}