<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interventions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="jquery_validation_engine/css/validationEngine.jquery.css" type="text/css"/>
    <link rel="stylesheet" href="addFormStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="jquery_validation_engine/js/jquery.valildationEngine.js"></script>
    <script type="text/javascript" src="jquery_validation_engine/js/jquery.validationEngine-en.js"></script>
</head>
<style>
    .displayNone {
        display: none;
    }
</style>
<body>
<h1 class="display-4">Interventions</h1>
<div id="root">
    <interventionlist :interventions="interventions"></interventionlist>
    <div id="addForm">
        <button id="addInterv" class="btn btn-secondary">Ajouter une intervention</button>
        <div id="formContainer" class="displayNone" >
            <form action="" method="post" @submit.prevent="catchSubmit()" id="form">
                <h4>Informations principales</h4>
                <div id="intervInfo">
                    <select name="type" id="type" v-model="type">
                        <option>Maintenance
                        <option>Installation
                        <option>Désinstallation
                    </select>
                    <input type="text" placeholder="Intervenant" v-model="intervenant"/>
                    <input type="text" value="A faire" readonly/>
                </div>

                <h4>Client</h4>
                <div id="coordClient">
                    <input type="text" placeholder="Nom client" v-model="nom"/>
                    <input type="text" placeholder="Prénom client" v-model="prenom"/>
                    <input type="text" placeholder="Adresse 1" v-model="adresse1"/>
                    <input type="text" placeholder="Adresse 2" v-model="adresse2"/>
                    <input type="text" placeholder="Code postal" v-model="cp"/>
                    <input type="text" placeholder="Ville" v-model="ville"/>
                    <input type="text" placeholder="Telephone" v-model="telephone"/>
                    <input type="text" placeholder="Mail" v-model="mail"/>
                </div>

                <h4>Dates et heures</h4>
                <div id="dates">
                    <input type="text" placeholder="Date de début" v-model="date_debut"/>
                    <input type="text" placeholder="Heure de début" v-model="heure_debut"/>
                    <input type="text" placeholder="Date de fin" v-model="date_fin"/>
                    <input type="text" placeholder="Heure de fin" v-model="heure_fin"/>
                </div>

                <div>
                    <input type="text" placeholder="Créateur" v-model="createur"/>
                </div>

                <h4>Produit</h4>
                <div id="refProduit">
                    <input type="text" placeholder="Référence produit" v-model="ref"/>
                    <input type="text" placeholder="Quantité produit" v-model="qte"/>
                    <input type="text" placeholder="Libellé produit" v-model="libelle"/>
                </div>

                <h4>Descriptions et commentaires</h4>
                <div id="textareas">
                    <textarea name="description" cols="30" rows="10" placeholder="Description de l'intervention" v-model="description"></textarea>
                    <textarea name="commentaires" cols="30" rows="10" placeholder="Commentaires de l'intervenant" v-model="commentaires"></textarea>
                </div>

                <input type="submit" class="btn btn-secondary" id="submit"/>
            </form>
        </div>
        <button id="removeInterv" class="btn btn-secondary">Supprimer une intervention</button>
        <div id="removeFormContainer" class=" displayNone">
            <form action="" method="post"  @submit.prevent="catchRemove()">
                <input type="text" placeholder="Numéro de l'intervention" v-model="idInterv">
                <input type="submit">
            </form>
        </div>
    </div>
</div>


<script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
<script>
    Vue.component('interventionlist', {
        props: [
            'interventions'
        ],
        template: `<table>
        <tr>
            <th>Numéro</th>
            <th>Type</th>
            <th>Intervenant</th>
            <th>Client</th>
            <th>Etat</th>
            <th>Date Début</th>
            <th>Date Fin</th>
            <th>Créateur</th>
        </tr>
            <intervention v-for="(interv, index) in interventions"
             :id="interv.id"
             :type="interv.type"
             :intervenant="interv.intervenant"
             :client="interv.client"
             :etat="interv.etat"
             :date_debut="interv.date_debut"
             :date_fin="interv.date_fin"
             :createur="interv.createur"
             :key="index">
            </intervention>
         </table>`

    })

    Vue.component('intervention', {
        props: [
            'id',
            'type',
            'intervenant',
            'client',
            'etat',
            'date_debut',
            'date_fin',
            'createur'
        ],
        template: `<tr>
                    <td>{{id}}</td>
                    <td>{{type}}</td>
                    <td>{{intervenant}}</td>
                    <td>{{client[0].prenom}} {{client[0].nom}}</td>
                    <td>{{etat}}</td>
                    <td>{{date_debut}}</td>
                    <td>{{date_fin}}</td>
                    <td>{{createur}}</td>
                   </tr>`
    })

    new Vue({
        el: '#root',
        data: {
            type: '',
            intervenant: '',
            date_debut: '',
            heure_debut: '',
            date_fin: '',
            heure_fin: '',
            createur: '',
            description:'',
            commentaires: '',
            ref: '',
            qte:'',
            libelle:'',
            nom: '',
            prenom: '',
            adresse1:'',
            adresse2:'',
            cp: '',
            ville: '',
            telephone:'',
            mail:'',
            idInterv:'',
            interventions: [
                {
                    id: 1,
                    type: 'Maintenance',
                    intervenant: 'Charles',
                    etat: 'En cours',
                    date_debut: '01/02/2018',
                    heure_debut: '14:53',
                    date_fin: '02/02/2018',
                    heure_fin: '09:30',
                    createur: 'Florian',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Bouif',
                            prenom: 'Martin',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 2,
                    type: 'Installation',
                    intervenant: 'Charlotte',
                    etat: 'Terminé',
                    date_debut: '06/01/2018',
                    heure_debut: '09:30',
                    date_fin: '06/01/2018',
                    heure_fin: '09:30',
                    createur: 'Thomas',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Plouf',
                            prenom: 'Morgane',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 3,
                    type: 'Maintenance',
                    intervenant: 'Rose',
                    etat: 'A faire',
                    date_debut: '21/12/2017',
                    heure_debut: '09:30',
                    date_fin: '21/12/2017',
                    heure_fin: '09:30',
                    createur: 'Capucine',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Morgane',
                            prenom: 'Clara',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 4,
                    type: 'Maintenance',
                    intervenant: 'Louis',
                    etat: 'A faire',
                    date_debut: '15/02/2018',
                    heure_debut: '05:35',
                    date_fin: '15/02/2018',
                    heure_fin: '06:35',
                    createur: 'Tristan',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Judu',
                            prenom: 'Simon',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 5,
                    type: 'Désinstallation',
                    intervenant: 'Lea',
                    etat: 'En cours',
                    date_debut: '23/01/2018',
                    date_fin: '23/01/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    createur: 'Hugo',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Buehzuu',
                            prenom: 'Mathis',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 6,
                    type: 'Installation',
                    intervenant: 'Elodie',
                    etat: 'A faire',
                    date_debut: '28/01/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    date_fin: '28/01/2018',
                    createur: 'Capucine',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Matin',
                            prenom: 'Martin',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 7,
                    type: 'Installation',
                    intervenant: 'Lou',
                    etat: 'Terminé',
                    date_debut: '16/02/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    date_fin: '16/02/2018',
                    createur: 'Thomas',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Morgane',
                            prenom: 'Clara',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 8,
                    type: 'Maintenance',
                    intervenant: 'Emilie',
                    etat: 'En cours',
                    date_debut: '19/02/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    date_fin: '19/02/2018',
                    createur: 'Florian',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Buzeh',
                            prenom: 'Eva',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 9,
                    type: 'Désinstallation',
                    intervenant: 'Aurelien',
                    etat: 'Terminé',
                    date_debut: '05/01/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    date_fin: '05/01/2018',
                    createur: 'Anais',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Judu',
                            prenom: 'Simon',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 10,
                    type: 'Maintenance',
                    intervenant: 'Baptiste',
                    etat: 'Terminé',
                    date_debut: '21/11/2017',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    date_fin: '21/11/2017',
                    createur: 'Jade',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Franklin',
                            prenom: 'Benjamin',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 11,
                    type: 'Maintenance',
                    intervenant: 'Rose',
                    etat: 'A faire',
                    date_debut: '26/02/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    date_fin: '26/02/2018',
                    createur: 'Anais',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Buehzuu',
                            prenom: 'Mathis',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 12,
                    type: 'Installation',
                    intervenant: 'Lea',
                    etat: 'A faire',
                    date_debut: '26/02/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    date_fin: '26/02/2018',
                    createur: 'Tristan',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Lekj',
                            prenom: 'Lena',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 13,
                    type: 'Maintenance',
                    intervenant: 'Charles',
                    etat: 'A faire',
                    date_debut: '18/02/2018',
                    date_fin: '18/02/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    createur: 'Clementine',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Connor',
                            prenom: 'Sarah',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 14,
                    type: 'Maintenance',
                    intervenant: 'Emilie',
                    etat: 'En cours',
                    date_debut: '03/03/2018',
                    date_fin: '03/03/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    createur: 'Florian',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Hiei',
                            prenom: 'Thomas',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 15,
                    type: 'Désinstallation',
                    intervenant: 'Aurélien',
                    etat: 'A faire',
                    date_debut: '01/02/2018',
                    date_fin: '01/02/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    createur: 'Jade',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Plouf',
                            prenom: 'Morgane',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 16,
                    type: 'Maintenance',
                    intervenant: 'Charles',
                    etat: 'En cours',
                    date_debut: '06/02/2018',
                    date_fin: '06/02/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    createur: 'Louis',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Nbbie',
                            prenom: 'Quentin',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 17,
                    type: 'Installation',
                    intervenant: 'Louis',
                    etat: 'A faire',
                    date_debut: '14/02/2018',
                    date_fin: '14/02/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    createur: 'Lea',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Matin',
                            prenom: 'Martin',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 18,
                    type: 'Installation',
                    intervenant: 'Charlotte',
                    etat: 'A faire',
                    date_debut: '22/02/2018',
                    date_fin: '22/02/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    createur: 'Thomas',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Dujardin',
                            prenom: 'Jean',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 19,
                    type: 'Maintenance',
                    intervenant: 'Lou',
                    etat: 'Terminé',
                    date_debut: '02/01/2018',
                    date_fin: '02/01/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    createur: 'Capucine',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Sgye',
                            prenom: 'Mélanie',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 20,
                    type: 'Maintenance',
                    intervenant: 'Emilie',
                    etat: 'A faire',
                    date_debut: '06/02/2018',
                    date_fin: '06/02/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    createur: 'Lea',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Buzeh',
                            prenom: 'Eva',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                }

            ]
        },
        methods: {
            catchSubmit(){
                var formContainer = document.getElementById("formContainer");
                formContainer.classList.add("displayNone");
                var idLastInterv = this.interventions.length-1;
//                console.log(this.interventions[idLastInterv].id);
                var id = this.interventions[idLastInterv].id;
                this.interventions.push({
                    id: id+1,
                    type: this.type,
                    intervenant: this.intervenant,
                    etat: 'A faire',
                    date_debut: this.date_debut,
                    heure_debut: this.heure_debut,
                    date_fin: this.date_fin,
                    heure_fin: this.heure_fin,
                    createur: this.createur,
                    description: this.description,
                    commentaires: this.commentaires,
                    produit: [
                        {
                            ref: this.ref,
                            qte: this.qte,
                            libelle: this.libelle,
                        }
                    ],
                    client: [
                        {
                            nom: this.nom,
                            prenom: this.prenom,
                            adresse1: this.adresse1,
                            adresse2: this.adresse2,
                            cp: this.cp,
                            ville: this.ville,
                            telephone: this.telephone,
                            mail: this.mail
                        }
                    ]
                });
                this.type = "";
                this.intervenant = "";
                this.date_debut = "";
                this.heure_debut = "";
                this.date_fin = "";
                this.heure_fin = "";
                this.createur = "";
                this.description = "";
                this.commentaires = ""
                this.ref = "";
                this.qte = "";
                this.libelle = "";
                this.nom = "";
                this.prenom = "";
                this.adresse1 = "";
                this.adresse2 = "";
                this.cp = "";
                this.ville = "";
                this.telephone = "";
                this.mail = "";
            },

            catchRemove(){
                var removeFormContainer = document.getElementById("removeFormContainer");
                removeFormContainer.classList.add("displayNone");
                var idInterv = this.idInterv;
                if (window.confirm("Êtes vous sûr de vouloir supprimer l'intervention " + idInterv + " ?")){
                    for(i=0; i<this.interventions.length; i++){
                        if (this.interventions[i].id == idInterv){
                            this.interventions.splice(i, 1);
                        }
                    }
                }
            }
        }
    });


    var addBtn = document.getElementById("addInterv");
    addBtn.addEventListener('click', function(){
        var formContainer = document.getElementById("formContainer");
        formContainer.classList.remove("displayNone");
    })

    var removeBtn = document.getElementById("removeInterv");
    removeBtn.addEventListener('click', function(){
        var removeForm = document.getElementById("removeFormContainer");
        removeForm.classList.remove("displayNone");
    })
</script>
</body>

</html>


