<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interventions</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="addFormStyle.css">
    <link rel="stylesheet" href="jquery-ui-themes-1.12.1/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
<h1 class="display-4">Interventions</h1>
<div id="root">
    <nbrintervention class="textColor"></nbrintervention>
    <interventionlist :interventions="interventions"></interventionlist>
    <pagination></pagination>
    <div id="addForm">
        <button id="addInterv" class="btn btn-secondary">Ajouter une intervention</button>
        <div id="formContainer" class="displayNone" >
            <form action="" method="post" @submit.prevent="catchSubmit()" id="myForm">
                <h4>Informations principales</h4>
                <div id="intervInfo">
                    <select name="type" id="type" v-model="type">
                        <option>Maintenance
                        <option>Installation
                        <option>Désinstallation
                    </select>
                    <input type="text" placeholder="Intervenant" v-model="intervenant"/>
                    <input type="text" value="A faire" readonly/>
                </div>

                <h4>Client</h4>
                <div id="coordClient">
                    <input type="text" placeholder="Nom client" v-model="nom"  />
                    <input type="text" placeholder="Prénom client" v-model="prenom"  />
                    <input type="text" placeholder="Adresse 1" v-model="adresse1"  />
                    <input type="text" placeholder="Adresse 2" v-model="adresse2"/>
                    <input type="text" placeholder="Code postal" v-model="cp"  />
                    <input type="text" placeholder="Ville" v-model="ville"  />
                    <input type="text" placeholder="Telephone" v-model="telephone"  />
                    <input type="text" placeholder="Mail" v-model="mail"/>
                </div>

                <h4>Dates et heures</h4>
                <div id="dates">
                    <input type="text" placeholder="Date de début" v-model="date_debut"   id="datepicker"/>
                    <input type="text" placeholder="Heure de début" v-model="heure_debut"/>
                    <input type="text" placeholder="Date de fin" v-model="date_fin"  />
                    <input type="text" placeholder="Heure de fin" v-model="heure_fin"/>
                </div>

                <div>
                    <input type="text" placeholder="Créateur" v-model="createur"  />
                </div>

                <h4>Produit</h4>
                <div id="refProduit">
                    <input type="text" placeholder="Référence produit" v-model="ref"/>
                    <input type="text" placeholder="Quantité produit" v-model="qte"/>
                    <input type="text" placeholder="Libellé produit" v-model="libelle"/>
                </div>

                <h4>Descriptions et commentaires</h4>
                <div id="textareas">
                    <textarea name="description" cols="30" rows="10" placeholder="Description de l'intervention" v-model="description"></textarea>
                    <textarea name="commentaires" cols="30" rows="10" placeholder="Commentaires de l'intervenant" v-model="commentaires"></textarea>
                </div>

                <input type="submit" class="btn btn-secondary" id="submit"/>
            </form>
        </div>
        <button id="removeInterv" class="btn btn-secondary">Supprimer une intervention</button>
        <div id="removeFormContainer" class=" displayNone">
            <form action="" method="post"  @submit.prevent="catchRemove()" id="removeForm">
                <input type="text" placeholder="Numéro de l'intervention" v-model="idInterv"  >
                <input type="submit" class="btn btn-secondary" id="btnRemove">
            </form>
        </div>
    </div>
    <editinterv :interventions="interventions"></editinterv>
</div>


<script src="vue.js"></script>
<script src="vuex.js"></script>
<script>

    Vue.use(Vuex);

    const store = new Vuex.Store({
        state: {
            select: 0,
            totalInterv: 0,
            currentPage: 1,
            startSlice: 0,
            changePage: false,
            prev: false,
            next: false,
            index: 0,
            idInterv: 0,
        },
        getters: {
            getterSelect: state => {
                return state.select
            },
            getterTotalInterv: state => {
                return state.totalInterv
            },
            getterCurrentPage: state => {
                return state.currentPage
            },
            getterStartSlice: state => {
                return state.startSlice
            },
            getterChangePage: state => {
                return state.changePage
            },
            getterPrev: state => {
                return state.prev
            },
            getterNext: state => {
                return state.next
            },
            getterIndex: state => {
                return state.index
            },
            getterIdInterv: state => {
                return state.idInterv
            },
        },
        mutations: {
            editSelect: (state, newValue) => {
                state.select = newValue
            },
            sendTotalPages: (state, newValue) => {
                state.totalInterv = newValue
            },
            editCurrentPage: (state, newValue) => {
                state.currentPage = newValue
            },
            editStartSlice: (state, newValue) => {
                state.startSlice = newValue
            },
            editChangePage: (state, newValue) => {
                state.changePage = newValue
            },
            editPrev: (state, newValue) => {
                state.prev = newValue
            },
            editNext: (state, newValue) => {
                state.next = newValue
            },
            editIndex: (state, newValue) => {
                state.index = newValue
            },
            editIdInterv: (state, newValue) => {
                state.idInterv = newValue
            }
        }
    })


    Vue.component('nbrintervention', {
        data() {
            return {
                value: 10,
            }
        },
        methods: {
            getSelect(){
                store.commit('editStartSlice', 0) // select value change => init tab slice(0, selectVal)
                store.commit('editCurrentPage', 1) // select value change => init current page = 1
                store.commit('editSelect', parseInt(this.value)) // save select value AND typeof(this.value) = string
                store.commit('editChangePage', false) // select value change => init pagination => classic prev-- / next++
            }
        },
        template: `
            <select v-model="value" @change="getSelect()">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>
        `,
    })


    Vue.component('pagination', {
        data() {
            return {
                nbrPagination: 0,
                myCurrentPage: 1,
            }
        },
        computed: {
            nbrPages() { // nbr pagination
                let itemsPerPage = store.getters.getterSelect,
                    totalInterv = store.getters.getterTotalInterv

                itemsPerPage === 0 ? itemsPerPage = 10 : itemsPerPage

                this.nbrPagination = Math.ceil(totalInterv / itemsPerPage)
                this.myCurrentPage = 1

                return this.nbrPagination
            },
        },
        methods: {
            next(){
                let curPage = store.getters.getterCurrentPage,
                    next = store.getters.getterNext,
                    index = store.getters.getterIndex,
                    bolChangePage = store.getters.getterChangePage

                if(bolChangePage === true){ // pagination selected => next with index value
                    next = true
                    store.commit('editNext', next)

                    if(this.myCurrentPage < this.nbrPagination){
                        index += 1
                        this.myCurrentPage = index + 1
                        store.commit('editIndex', index)
                        store.commit('editCurrentPage', this.myCurrentPage)
                    }
                }
                else{ // classic next => current page + 1
                    curPage === 1 ? this.myCurrentPage = 1 : ''
                    this.myCurrentPage < this.nbrPagination ? this.myCurrentPage++ : ''
                    curPage = this.myCurrentPage

                    store.commit('editCurrentPage', curPage)
                }
            },
            prev(){
                let curPage = store.getters.getterCurrentPage,
                    prev = store.getters.getterPrev,
                    index = store.getters.getterIndex,
                    bolChangePage = store.getters.getterChangePage

                if(bolChangePage === true){ // pagination selected => prev with index value
                    if(this.myCurrentPage > 1){

                        prev = true
                        index -= 1
                        this.myCurrentPage = index + 1

                        store.commit('editIndex', index)
                        store.commit('editCurrentPage', this.myCurrentPage)
                        store.commit('editPrev', prev)
                    }
                }else{ // classic prev => current page - 1
                    this.myCurrentPage > 1 ? this.myCurrentPage-- : ''
                    curPage = this.myCurrentPage

                    store.commit('editCurrentPage', curPage)
                }
            },
            goTo(index){ // pagination selected
                this.myCurrentPage = index + 1

                store.commit('editIndex', index)
                store.commit('editCurrentPage', index)
                store.commit('editChangePage', true)
            },
            displayPagination(){
                let itemsPerPage = store.getters.getterSelect,
                    totalInterv = store.getters.getterTotalInterv

                return itemsPerPage !== totalInterv
            }
        },
        template: `
        <div id="pagination" v-if="displayPagination()">
            <a href="#" @click="prev()">&laquo;</a>
                <span v-for="(pageNumber, index) in nbrPages">
                    <a v-if="index === (myCurrentPage - 1)" class="active">{{pageNumber}}</a>
                    <a v-else @click="goTo(index)">{{pageNumber}}</a>
                </span>
            <a href="#" @click="next()">&raquo;</a>
        </div>
        `,
    })


    Vue.component('interventionlist', {
        data() {
            return {
                curPage: 1,
            }
        },
        props: [
            'interventions',
        ],
        computed: {
            filterBy() {
                let totalInterventions = this.interventions.length,
                    getCurPage =  store.getters.getterCurrentPage,
                    selectVal = store.getters.getterSelect,
                    startSlice = store.getters.getterStartSlice,
                    bolChangePage = store.getters.getterChangePage,
                    index =  store.getters.getterIndex,
                    prev = store.getters.getterPrev,
                    next = store.getters.getterNext

                getCurPage === 1 ? this.curPage = 1 : ''
                selectVal === 0 ? selectVal = 10 : 0
                store.commit('sendTotalPages', totalInterventions)

                if(bolChangePage === true){ //select page ? => true
                    if(next === true){ // next page

                        startTab = index * selectVal
                        store.commit('editNext', false)

                        return this.interventions.slice(startTab, (startTab  + selectVal))
                    }else if(prev === true){ // prev page

                        startTab = getCurPage * selectVal
                        store.commit('editPrev', false)

                        return this.interventions.slice((startTab - selectVal), startTab)
                    }else{
                        startTab = getCurPage * selectVal

                        return this.interventions.slice(startTab, (startTab  + selectVal))
                    }
                }else{ //select page ? => false => classic pagination => nextPage++ / prevPage--
                    if(getCurPage > this.curPage){  // next page

                        startSlice += selectVal
                        store.commit('editStartSlice', startSlice)
                        this.curPage = getCurPage

                        return this.interventions.slice(startSlice, (startSlice  + selectVal))
                    }else if(getCurPage < this.curPage){ // prev page

                        startSlice -= selectVal
                        store.commit('editStartSlice', startSlice)
                        this.curPage = getCurPage

                        return this.interventions.slice(startSlice, startSlice + selectVal)
                    }else{ // init tab => slice(0,10)
                        store.commit('editStartSlice', 0)
                        return this.interventions.slice(0, selectVal)
                    }
                }
            }
        },
        template: `
        <table>
            <tr>
                <th>Numéro</th>
                <th>Type</th>
                <th>Intervenant</th>
                <th>Client</th>
                <th>Etat</th>
                <th>Date Début</th>
                <th>Date Fin</th>
                <th>Créateur</th>
            </tr>

            <intervention v-for="(interv, index) in filterBy"
             :id="interv.id"
             :type="interv.type"
             :intervenant="interv.intervenant"
             :client="interv.client"
             :etat="interv.etat"
             :date_debut="interv.date_debut"
             :date_fin="interv.date_fin"
             :createur="interv.createur"
             :key="index"
             :href="interv.href">
            </intervention>
        </table>`,
    })

    Vue.component('intervention', {
        props: [
            'id',
            'type',
            'intervenant',
            'client',
            'etat',
            'date_debut',
            'date_fin',
            'createur',
            'href'
        ],
        template: `
        <tr>
            <td><a :href="href">{{id}}</a></td>
            <td>{{type}}</td>
            <td>{{intervenant}}</td>
            <td>{{client[0].prenom}} {{client[0].nom}}</td>
            <td>{{etat}}</td>
            <td>{{date_debut}}</td>
            <td>{{date_fin}}</td>
            <td>{{createur}}</td>
            <td><a href="#formContainerDetails"><button @click="$children.eventDetails(id)">Voir</button></a></td>
        </tr>`,
    })

    Vue.component('editinterv', {
        props: [
            'interventions',
            'id'
        ],
        template: `
        <form action="" method="post" id="myFormDetails" @submit.prevent="catchModifDetails">
                <h4>Informations principales</h4>
                <div id="intervInfoDetails">
                    <select name="type" id="typeDetails" v-bind:value="interventions.type">
                        <option>Maintenance</option>
                        <option>Installation</option>
                        <option>Désinstallation</option>
                    </select>
                    <input type="text" id="intervenantDetails" v-bind:value="interventions.intervenant"/>
                    <input type="text" id="etatDetails" v-bind:value="interventions.etat"/>
                </div>

                <h4>Client</h4>
                <div id="coordClientDetails">
                    <input type="text" id="nomClientDetails" v-bind:value="interventions.nom" />
                    <input type="text" id="prenomClientDetails" v-bind:value="interventions.prenom" />
                    <input type="text" id="adresse1ClientDetails" v-bind:value="interventions.adresse1" />
                    <input type="text" id="adresse2ClientDetails" v-bind:value="interventions.adresse2"/>
                    <input type="text" id="cpClientDetails" v-bind:value="interventions.cp" />
                    <input type="text" id="villeClientDetails" v-bind:value="interventions.ville" />
                    <input type="text" id="telephoneClientDetails" v-bind:value="interventions.telephone" />
                    <input type="text" id="mailClientDetails" v-bind:value="interventions.mail"/>
                </div>

                <h4>Dates et heures</h4>
                <div id="datesDetails">
                    <input type="text"  id="datepickerDetails" v-bind:value="interventions.date_debut"/>
                    <input type="text" id="heureDebutDetails" v-bind:value="interventions.heure_debut"/>
                    <input type="text" id="dateFinDetails" v-bind:value="interventions.date_fin" />
                    <input type="text" id="heureFinDetails" v-bind:value="interventions.heure_fin"/>
                </div>

                <div>
                    <input type="text" id="createurDetails" v-bind:value="interventions.createur" />
                </div>

                <h4>Produit</h4>
                <div id="refProduitDetails">
                    <input type="text" id="refDetails" v-bind:alue="interventions.ref"/>
                    <input type="text" id="qteProduitDetails" v-bind:value="interventions.qte"/>
                    <input type="text" id="libelleProduitDetails" v-bind:value="interventions.libelle"/>
                </div>

                <h4>Descriptions et commentaires</h4>
                <div id="textareasDetails">
                    <textarea name="description" id="descriptionDetails" cols="30" rows="10" v-bind:value="interventions.description"></textarea>
                    <textarea name="commentaires" id="commentairesDetails" cols="30" rows="10" v-bind:value="interventions.commentaires"></textarea>
                </div>

                <input type="button" class="btn btn-secondary" id="modifierDetailsBtn" value="Modifier" />
                <input type="submit" class="btn btn-secondary displayNone" id="enregDetailsBtn" value="Enregistrer"/>
            </form>
        </div>
        `,
        methods: {
            eventDetails(id){
                vm.eventDetails(id)
                console.log(id)
            }

        }
    })

    var vm = new Vue({
        el: '#root',
        data: {
            type: '',
            intervenant: '',
            etat:'',
            date_debut: '',
            heure_debut: '',
            date_fin: '',
            heure_fin: '',
            createur: '',
            description:'',
            commentaires: '',
            ref: '',
            qte:'',
            libelle:'',
            nom: '',
            prenom: '',
            adresse1:'',
            adresse2:'',
            cp: '',
            ville: '',
            telephone:'',
            mail:'',
            idInterv:'',
            interventions: [
                {
                    id: 1,
                    type: 'Maintenance',
                    intervenant: 'Charles',
                    etat: 'En cours',
                    date_debut: '01/02/2018',
                    heure_debut: '14:53',
                    date_fin: '02/02/2018',
                    heure_fin: '09:30',
                    createur: 'Florian',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Bouif',
                            prenom: 'Martin',
                            adresse1: 'blablabla',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 2,
                    type: 'Installation',
                    intervenant: 'Charlotte',
                    etat: 'Terminé',
                    date_debut: '06/01/2018',
                    heure_debut: '09:30',
                    date_fin: '06/01/2018',
                    heure_fin: '09:30',
                    createur: 'Thomas',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Plouf',
                            prenom: 'Morgane',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 3,
                    type: 'Maintenance',
                    intervenant: 'Rose',
                    etat: 'A faire',
                    date_debut: '21/12/2017',
                    heure_debut: '09:30',
                    date_fin: '21/12/2017',
                    heure_fin: '09:30',
                    createur: 'Capucine',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Morgane',
                            prenom: 'Clara',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 4,
                    type: 'Maintenance',
                    intervenant: 'Louis',
                    etat: 'A faire',
                    date_debut: '15/02/2018',
                    heure_debut: '05:35',
                    date_fin: '15/02/2018',
                    heure_fin: '06:35',
                    createur: 'Tristan',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Judu',
                            prenom: 'Simon',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 5,
                    type: 'Désinstallation',
                    intervenant: 'Lea',
                    etat: 'En cours',
                    date_debut: '23/01/2018',
                    date_fin: '23/01/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    createur: 'Hugo',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Buehzuu',
                            prenom: 'Mathis',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 6,
                    type: 'Installation',
                    intervenant: 'Elodie',
                    etat: 'A faire',
                    date_debut: '28/01/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    date_fin: '28/01/2018',
                    createur: 'Capucine',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Matin',
                            prenom: 'Martin',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 7,
                    type: 'Installation',
                    intervenant: 'Lou',
                    etat: 'Terminé',
                    date_debut: '16/02/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    date_fin: '16/02/2018',
                    createur: 'Thomas',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Morgane',
                            prenom: 'Clara',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 8,
                    type: 'Maintenance',
                    intervenant: 'Emilie',
                    etat: 'En cours',
                    date_debut: '19/02/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    date_fin: '19/02/2018',
                    createur: 'Florian',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Buzeh',
                            prenom: 'Eva',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 9,
                    type: 'Désinstallation',
                    intervenant: 'Aurelien',
                    etat: 'Terminé',
                    date_debut: '05/01/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    date_fin: '05/01/2018',
                    createur: 'Anais',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Judu',
                            prenom: 'Simon',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 10,
                    type: 'Maintenance',
                    intervenant: 'Baptiste',
                    etat: 'Terminé',
                    date_debut: '21/11/2017',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    date_fin: '21/11/2017',
                    createur: 'Jade',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Franklin',
                            prenom: 'Benjamin',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 11,
                    type: 'Maintenance',
                    intervenant: 'Rose',
                    etat: 'A faire',
                    date_debut: '26/02/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    date_fin: '26/02/2018',
                    createur: 'Anais',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Buehzuu',
                            prenom: 'Mathis',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 12,
                    type: 'Installation',
                    intervenant: 'Lea',
                    etat: 'A faire',
                    date_debut: '26/02/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    date_fin: '26/02/2018',
                    createur: 'Tristan',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Lekj',
                            prenom: 'Lena',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 13,
                    type: 'Maintenance',
                    intervenant: 'Charles',
                    etat: 'A faire',
                    date_debut: '18/02/2018',
                    date_fin: '18/02/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    createur: 'Clementine',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Connor',
                            prenom: 'Sarah',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 14,
                    type: 'Maintenance',
                    intervenant: 'Emilie',
                    etat: 'En cours',
                    date_debut: '03/03/2018',
                    date_fin: '03/03/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    createur: 'Florian',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Hiei',
                            prenom: 'Thomas',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 15,
                    type: 'Désinstallation',
                    intervenant: 'Aurélien',
                    etat: 'A faire',
                    date_debut: '01/02/2018',
                    date_fin: '01/02/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    createur: 'Jade',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Plouf',
                            prenom: 'Morgane',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 16,
                    type: 'Maintenance',
                    intervenant: 'Charles',
                    etat: 'En cours',
                    date_debut: '06/02/2018',
                    date_fin: '06/02/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    createur: 'Louis',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Nbbie',
                            prenom: 'Quentin',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 17,
                    type: 'Installation',
                    intervenant: 'Louis',
                    etat: 'A faire',
                    date_debut: '14/02/2018',
                    date_fin: '14/02/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    createur: 'Lea',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Matin',
                            prenom: 'Martin',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 18,
                    type: 'Installation',
                    intervenant: 'Charlotte',
                    etat: 'A faire',
                    date_debut: '22/02/2018',
                    date_fin: '22/02/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    createur: 'Thomas',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Dujardin',
                            prenom: 'Jean',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 19,
                    type: 'Maintenance',
                    intervenant: 'Lou',
                    etat: 'Terminé',
                    date_debut: '02/01/2018',
                    date_fin: '02/01/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    createur: 'Capucine',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Sgye',
                            prenom: 'Mélanie',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                },
                {
                    id: 20,
                    type: 'Maintenance',
                    intervenant: 'Emilie',
                    etat: 'A faire',
                    date_debut: '06/02/2018',
                    date_fin: '06/02/2018',
                    heure_debut: '05:35',
                    heure_fin: '06:35',
                    createur: 'Lea',
                    description: 'Changer le machin de ce client qui a son ordi qui rame.',
                    commentaires: 'Tout est rentré dans l\'ordre',
                    produit:[
                        {
                            ref:'Hizhai5896',
                            qte: 1,
                            libelle: 'Test'
                        }
                    ],
                    client:[
                        {
                            nom:'Buzeh',
                            prenom: 'Eva',
                            adresse1: '26 rue de la Morandière',
                            adresse2: '',
                            cp: '50400',
                            ville: 'Trifouillis les Oies',
                            telephone: '0645825325',
                            mail: 'bouif.martin@gmail.com'
                        }
                    ]
                }

            ]
        },
        methods: {
            catchSubmit(){
                if (this.type=="" || this.intervenant=="" || this.date_debut == "" || this.date_fin == "" || this.createur == "" || this.nom == "" || this.prenom == "" || this.adresse1 == "" || this.cp == "" || this.ville == "" || this.telephone == ""){
                    alert('Merci de remplir tous les champs.')
                }else{
                    var formContainer = document.getElementById("formContainer");
                    formContainer.classList.add("displayNone");
                    var idLastInterv = this.interventions.length-1;
                    var id = this.interventions[idLastInterv].id;
                    this.interventions.push({
                        id: id+1,
                        type: this.type,
                        intervenant: this.intervenant,
                        etat: 'A faire',
                        date_debut: this.date_debut,
                        heure_debut: this.heure_debut,
                        date_fin: this.date_fin,
                        heure_fin: this.heure_fin,
                        createur: this.createur,
                        description: this.description,
                        commentaires: this.commentaires,
                        produit: [
                            {
                                ref: this.ref,
                                qte: this.qte,
                                libelle: this.libelle,
                            }
                        ],
                        client: [
                            {
                                nom: this.nom,
                                prenom: this.prenom,
                                adresse1: this.adresse1,
                                adresse2: this.adresse2,
                                cp: this.cp,
                                ville: this.ville,
                                telephone: this.telephone,
                                mail: this.mail
                            }
                        ]
                    });
                    alert("L'intervention a bien été ajoutée!")
                    this.type = "";
                    this.intervenant = "";
                    this.date_debut = "";
                    this.heure_debut = "";
                    this.date_fin = "";
                    this.heure_fin = "";
                    this.createur = "";
                    this.description = "";
                    this.commentaires = "";
                    this.ref = "";
                    this.qte = "";
                    this.libelle = "";
                    this.nom = "";
                    this.prenom = "";
                    this.adresse1 = "";
                    this.adresse2 = "";
                    this.cp = "";
                    this.ville = "";
                    this.telephone = "";
                    this.mail = "";
                }
            },
            catchRemove(){
                if(this.idInterv!=""){
                    var removeFormContainer = document.getElementById("removeFormContainer");
                    removeFormContainer.classList.add("displayNone");
                    var idInterv = this.idInterv;
                    if (window.confirm("Êtes vous sûr de vouloir supprimer l'intervention " + idInterv + " ?")){
                        if (this.idInterv > 0 && this.idInterv <= this.interventions.length){
                            for(i=0; i<this.interventions.length; i++){
                                if (this.interventions[i].id == idInterv){
                                    if(this.interventions.splice(i, 1)){
                                        alert("L'intervention a bien été supprimée");
                                    }else {
                                        alert("Une erreur s'est produite, veuillez réessayer");
                                    }
                                }
                            }
                        }else {
                            alert("Merci de choisir un numéro d'intervention existant!")
                        }
                    }
                }else {
                    alert('Merci de remplir les champs requis!')
                }
            },
            eventDetails(id){
                //console.log(this.interventions[id - 1].client[0].adresse1)
                //console.log(this.interventions[id - 1].type)

                //type intervention
                //var typeDetails = document.getElementById("typeDetails")
                if (this.interventions[id - 1].type == "Maintenance"){
                    this.type.selectedIndex = 0
                }else if (this.interventions[id - 1].type == "Installation"){
                    this.type.selectedIndex = 1
                }else{
                    this.type.selectedIndex = 2
                }
                this.type.disabled = true


                let inputs = [
                    "id",
                    "type",
                    "intervenant",
                    "etat",
                    "date_debut",
                    "heure_debut",
                    "date_fin",
                    "heure_fin",
                    "createur",
                    "description",
                    "commentaires",
                    produit = [
                        "ref",
                        "qte",
                        "libelle"
                    ],
                    client = [
                        "nom",
                        "prenom",
                        "adresse1",
                        "adresse2",
                        "cp",
                        "ville",
                        "telephone",
                        "mail"
                    ]
                ]


                for (let i=0; i<this.interventions.length; i++){
                    for (let j=0; j<inputs.length; j++){
                        if(Array.isArray(inputs[j]) ){
                            for (let k=0; k<inputs[j].length; k++){
                                //console.log(inputs[j][k]);
                            }
//                            console.log(this[produit][inputs[j]])
//                            console.log(this.interventions[id - 1].produit[inputs[j]])
//                            console.log("-----------------------")
//                            this[produit][inputs[j]] = this.interventions[id - 1].produit[inputs[j]]
//                            this.inputs[j] = this.interventions[id - 1].produit[0].inputs[j]
                        }else if(inputs[j] === "client"){
//                            this.inputs[j] = this.interventions[id - 1].client[0].inputs[j]
                            this[client][inputs[j]] = this.interventions[id - 1].client[inputs[j]]
                        }else {
                            //console.log(this.interventions[id - 1][inputs[j]])
                            this[inputs[j]] = this.interventions[id - 1][inputs[j]]
                        }
                    }
                    //this.otherInputs[i] = this.interventions[id - 1].otherInputs[i]
                }
//
            },

            catchModifDetails(){
                var intervenantDetails = document.getElementById("intervenantDetails")
                //console.log(this.intervenant)
            },
        }
    });


    var addBtn = document.getElementById("addInterv");
    addBtn.addEventListener('click', function(){
        var formContainer = document.getElementById("formContainer");
        formContainer.classList.remove("displayNone");
    })

    var removeBtn = document.getElementById("removeInterv");
    removeBtn.addEventListener('click', function(){
        var removeForm = document.getElementById("removeFormContainer");
        removeForm.classList.remove("displayNone");
    })

    var modifierDetailsBtn = document.getElementById("modifierDetailsBtn");
    modifierDetailsBtn.addEventListener('click', function() {
        var typeDetails = document.getElementById('typeDetails');
        var etatDetails = document.getElementById('etatDetails');
        var intervenantDetails = document.getElementById('intervenantDetails');
        var nomClientDetails = document.getElementById('nomClientDetails');
        var prenomClientDetails = document.getElementById('prenomClientDetails');
        var adresse1ClientDetails = document.getElementById('adresse1ClientDetails');
        var adresse2ClientDetails = document.getElementById('adresse2ClientDetails');
        var cpClientDetails = document.getElementById('cpClientDetails');
        var villeClientDetails = document.getElementById('villeClientDetails');
        var telephoneClientDetails = document.getElementById('telephoneClientDetails');
        var mailClientDetails = document.getElementById('mailClientDetails');
        var datepickerDetails = document.getElementById('datepickerDetails');
        var dateFinDetails = document.getElementById('dateFinDetails');
        var heureDebutDetails = document.getElementById('heureDebutDetails');
        var heureFinDetails = document.getElementById('heureFinDetails');
        var createurDetails = document.getElementById('createurDetails');
        var refDetails = document.getElementById('refDetails');
        var qteProduitDetails = document.getElementById('qteProduitDetails');
        var libelleProduitDetails = document.getElementById('libelleProduitDetails');
        var descriptionDetails = document.getElementById('descriptionDetails');
        var commentairesDetails = document.getElementById('commentairesDetails');
        var enregDetailsBtn = document.getElementById('enregDetailsBtn')

        //console.log(dateFinDetails)
        typeDetails.disabled = false;
        intervenantDetails.disabled = false;
        etatDetails.disabled = false;
        nomClientDetails.disabled = false;
        prenomClientDetails.disabled = false;
        adresse1ClientDetails.disabled = false;
        adresse2ClientDetails.disabled = false;
        cpClientDetails.disabled = false;
        villeClientDetails.disabled = false;
        telephoneClientDetails.disabled = false;
        mailClientDetails.disabled = false;
        datepickerDetails.disabled = false;
        dateFinDetails.disabled = false;
        heureDebutDetails.disabled = false;
        heureFinDetails.disabled = false;
        createurDetails.disabled = false;
        refDetails.disabled = false;
        qteProduitDetails.disabled = false;
        libelleProduitDetails.disabled = false;
        descriptionDetails.disabled = false;
        commentairesDetails.disabled = false;
        enregDetailsBtn.classList.remove('displayNone');
    })


</script>
</body>

</html>


